@font-face
{
	font-family: "brow";
	src: url(MeieScript-Regular.ttf);
}

body
{
	background-image: url(fondo.jpg);
	background-attachment: fixed;
	background-size: cover
}

.tit
{
	position: absolute;
	width: 80%;
	height: 20%;
	background-color: black;
	color: white;
	font-family: "brow";
	font-size: 50px;
	text-align: center;
	left: 10%;
}

.cont
{
	position: absolute;
	width: 78%;
	height: 220%;
	left: 10%;
	top: 25%;
	background-color: white;
	font-family: arial;
	padding: 1%;
}

.p1
{
	position: absolute;
	width: 50%;
	text-align: justify;
}

.logo
{
	position: absolute;
	background-image: url(logo.png);
	width: 28%;
	height: 12%;
	right: 10%;
}

#suma
{
	position: absolute;
	right: 2%;
	width: 50%;
	top: 37%;
	text-align: justify;
}

#prom
{
	position: absolute;
	width: 50%;
	top: 58%;
	text-align: justify;
}

#cont
{
	position: absolute;
	width: 50%;
	top: 80%;
	right: 2%;
	text-align: justify;
}

.vid1
{
	position: absolute;
	width: 45%;
	top: 35%;
}

.vid2
{
	position: absolute;
	width: 45%;
	top: 58%;
	right: 2%;
}

.vid3
{
	position: absolute;
	width: 45%;
	top: 80%;
}

.bt
{
	background-color: #DCCFE9;
	color: black;
	font-family: "brow";
	font-size: 20px;
	position: fixed;
	right: 11%;
	top: 5%;
	text-align: center;
}